<!DOCTYPE html>
<html ng-app="HistoryTest">
<head>
    <script src="jquery-2.0.0.js"></script>
    <script src="angular.js"></script>
    <script>
        angular.module('HistoryTest', []).
            config(function ($locationProvider) {
                    $locationProvider.html5Mode(true);
                });
        function HistoryCtrl($scope, $location, $rootScope) {
            'use strict';
            $scope.message = 'Enter state message';
            $scope.attempt = -1;
            $scope.pushState = function (ev) {
                ev.preventDefault();
                $scope.attempt += 1;
                $location.url('/history-test-' + $scope.attempt, false, $scope.message);
            };
            $rootScope.$on('$locationChangeSuccess', function (event, url, oldUrl, state) {
                $scope.stateMessage = state; // Hackish access to 'pop-ed' state.
            });
        }
//        window.onpopstate = function (ev) {
//            var $smsg = $('#statemsg');
//            if (ev.state)
//                $smsg.val(ev.state);
//            else
//                $smsg.val('');
//        }
    </script>
    <title>Angular history test</title>
</head>
<body>
    <div ng-controller="HistoryCtrl">
        <label for="msg">Message:</label>
        <input id="msg" type="text" ng-model="message" />
        <br />
        <a ng-click="pushState($event)"  href="/history" target="_self">Push state with current message</a> <br />
        <label for="statemsg">State message:</label>
        <input id="statemsg" type="text" value="{{ stateMessage }}" disabled/>
    </div>
</body>
</html>
